root: true

parserOptions:
  ecmaVersion: 2019
  sourceType: module

env:
  browser: true
  es2017: true

extends:
  "htmlacademy/vanilla"

ignorePatterns:
  - "gulpfile.js"

rules:
  quotes:
    - error
    - backtick
