{
  "extends": "stylelint-config-htmlacademy",
  "customSyntax": "postcss-scss",
  "ignoreFiles": ["**/normalize.scss"],

  "rules": {
    "declaration-no-important": true,
    "codeguide/indentation": [2, {
      "ignore": ["inside-parens"]
    }],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "use",
        "mixin",
        "include",
        "content",
        "each",
        "for",
        "if",
        "else"
      ]
    }],
    "function-no-unknown": [true, {
      "ignoreFunctions": [
        "/^math/",
        "/^color/"
      ]
    }],
    "number-max-precision": [3, {
      "ignoreProperties": ["size-adjust"]
    }]
  }
}
